
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    volumes:
      - ../volumes/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=postgres
      - POSTGRES_DB=IGroceryStoreDb
      - POSTGRES_PORT=5432
    ports:
      - 5432:5432

  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    volumes:
      - ../volumes/rabbitmq/data/:/var/lib/rabbitmq/
      - ../volumes/rabbitmq/log/:/var/log/rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
  
  cassandra:
    image: cassandra:latest
    container_name: cassandra
    ports:
      - 9042:9042
    environment:
      - CASSANDRA_PASSWORD_SEEDER=cassandra
      - CASSANDRA_PASSWORD=cassandra
    volumes:
      - ../volumes/cassandra:/var/lib/cassandra
  
  cache:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ../volumes/redis:/data
    
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    restart: always
    ports:
      - 5775:5775/udp
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 16686:16686
      - 14250:14250
      - 14268:14268
      - 14269:14269
      - 9411:9411
    
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.6
    container_name: elasticsearch
    ports:
      - 9200:9200/tcp
    environment:
      - discovery.type=single-node
    volumes:
        - ../volumes/elasticsearch:/usr/share/elasticsearch/data
   
  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.6
    container_name: kibana
    ports:
      - 5601:5601/tcp